body{
    padding: 0px;
    margin: 0px;
}
.hero { 
    background: #FF6B6B;
    color: white;
    padding: 100px 30px 100px 30px; 
    text-align: center;
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
     font-size: 18px;
}


.aboutme {
    background: #FFF9F0;
    color: black;
    border:5px ;
    padding: 90px 30px 5px 30px; 
    margin: 0px;
}
.about_inner{
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 300px;
     font-family:Georgia, 'Times New Roman', Times, serif;
     font-size: 18px;
}

h1{
    text-align: center;
}
.h2{
 color: #FF6B6B;
}
.about_text{
    text-align: center;
    border: 1px solid black;
    margin: 30px 350px 30px 350px;
    padding: 10px;
    background-color: white;
}
#contact{
    text-align: center;
    background: #FFF9F0;
    color: black;
    border:5px ;
    padding: 90px 30px 10px 30px; 
    margin: 0px;
}
.text_area{
    width: 500px;
    height: 30px;
}
.msgbox{
    width: 500px;
    height: 100px;
}
.btn{
    margin-top: 10px;
    background-color: yellow;
    font-weight: bold;
    border: 1px solid;
}
.btn:hover{
    background-color: red;
    color:#FFF9F0
}